.download{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    .img{
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(../img/sub/download/download_main.png);
        background-repeat: no-repeat;
        background-position: center;
        bottom: -50%;
        opacity: 0;
        transition: 1s 0.5s;
        z-index: -4;
        overflow: hidden;
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        transform: translateY(60px);
        opacity: 0;
        transition: 1s;
        h1{
            font: bold 90px/1 "Rubik";
            span.col1{
                text-shadow: 0px 2px 10px #000;
                color: #fff;
            }
            span.col2{
                color: #ffae11;
                text-shadow: 0px 2px 10px #000;
            }
        }
        p.ex{
            margin: 30px 0 40px;
            font: 22px/1 "Rubik";
        }
        a.btn{
            height: 60px;
            padding: 0 50px;
            background-color: #6a88d8;
            font: 22px/60px "Rubik";
            color: #fff;
            border-radius: 50px;
            cursor: pointer;
        }
        p{
            margin-top: 30px;
            font: 17px/1 "arial";
            span{
                a{
                    margin-left: 8px;
                    color: #6a88d8;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
    &.active{
        .img{
            bottom: -5%;
            opacity: 0.7;
        }
        .inner{
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.version{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #282c37;
    color: #fff;
   
    h2{
        text-align: center;
        font: bold 55px/1.1 "Rubik";
        opacity: 0;
        transform: translateY(50%);
        transition: 0.5s;
        margin-top: 40px;
    }
    ul{
        width: 1180px;
        height: 220px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        transform: translateY(30%);
        opacity: 0;
        transition: 0.5s 0.5s;
        li{
            width: 160px;
            height: 100%;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i{
                width: 90px;
                height: 90px;
                font-size: 90px;
                margin-bottom: 10px;
                transition: 1s 0.5;
            }
            h3{
                font: 20px/1 "Rubik";
                margin-bottom: 5px;
                letter-spacing: 1px;
            }
            p{
                font: 18px/1 "arial";
                color: #7d7d7e;
            }
            &:nth-of-type(1){
                i{
                    color: #00adef;
                }
            }
            &:nth-of-type(2){
                
            }
            &:nth-of-type(3){
                margin-right: 0;
                i{
                    color: #32de84;
                }
            }
        }
    }
    >p{
        font: 18px/1 "arial";
        color: #7d7d7e;
        transform: translateY(-30%);
        opacity: 0;
    }
    &.active{
        h2{
            opacity: 1;
            transform: translateY(0%);
        }
        ul{
            transform: translateY(0%);
            opacity: 1; 
        }
        p{
            transform: translateY(0%);
            opacity: 1; 
        }
    }
}
.type{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    h2{
        font: 24px/1 "Rubik";
        text-align: center;
        transform: translateY(65%);
        opacity: 0; 
        transition: 0.5s;
        
    }
    .btn{
        width: 1180px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
        a{
            width: 240px;
            height: 38px;
            padding: 10px;
            background-color: #0078d4;
            font: bold 16px "arial";
            color: #fff;
            text-align: center;
            transform: translateY(65%);
            opacity: 0; 
            transition: 0.7s 0.5s;
        }
    }
    &.active{
        h2{
            transform: translateY(0);
            opacity: 1;
        }
        .btn{
            a{
                transform: translateY(0%);
                opacity: 1; 
            }
        }
    }
}

@media screen and (max-width:539px){
    .download{
        width: 100%;
        padding-bottom: 0;
        .img{
            width: 100%;
            background-size: contain;
        }
        .inner{
            width: 100%;
            h1{
                font: bold 8vw/1 "Rubik";
                margin-bottom: 20px;
            }
            p.ex{
                font: 3vw/1 "Rubik";
                margin: 0 10px 10px 10px;
            }
            a.btn{
                height: 4vh;
                padding: 0 20px;
                background-color: #6a88d8;
                font: 14px/4vh "Rubik";
            }
            p{
                font: 12px/1 "arial";
            }
        }
    }
    .version{
        width: 100%; 
        height: 27vh;  
        h2{
            font: bold 5.5vw/1.2 "Rubik";
            margin-top: 35px;
        }
        ul{
            width: 100%;
            li{
                width: 120px;
                margin-right: 0px;
                margin-top: 5px;
                i{
                    width: 45px;
                    height: 45px;
                    font-size: 45px;
                }
                h3{
                    font: 3vw/1 "Rubik";
                }
                p{
                    font: 2vw/1 "arial";    
                }
            }
        }
        >p{
            font: 3vw/1 "arial";
            margin-bottom: 30px;
        }
    }
    .type{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh;
        h2{
            width: 90vw;
            font: 3.2vw/1 "Rubik";
            opacity: 1; 
            transform: translateY(0%);
        }
        .btn{
            width: 100vw;
            display: block;
            opacity: 1;
            text-align: center;
            margin-top: 10px;

            a{
                height: 100%;
                font: bold 2.5vw "arial";
                opacity: 1;
            }
        }

        &.active{
            .btn{
                a{
                    transform: translateY(none);
                }
            }
        }
    }
}