.information{
    width: 100%;
    position: relative;
    nav{
        display: none;
        width: 150px;
        height: 120px;
        position: fixed;
        left: 23vw;
        top: 22vh;
        border-radius: 15px;
        ul{
            width: 100%;
            height: 100%;
            li{
                width: 100%;
                height: 40px;
                font: 16px/40px "Montserrat";
                color: #999;
                &.on{
                    font-weight: bold;
                    color: #000;
                    font-size: 20px;
                }
            }
        }
    }
    >.inner{
        width: 680px;
        h1{
            margin-top: 90px;
            transition: 1s;
            opacity: 0;
        }
    
        article{
            width: 100%;
            height: 450px;
            box-shadow: 0px 0 16px 3px rgba(0 0 0 / 10%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;
            transition: 1s;
            background-color: #fff;
            margin-left: -150px;
            opacity: 0;
            border-radius: 5px;
            cursor: pointer;
            .pic{
                width: 640px;
                height: 270px;
                margin: 20px 20px 0px 20px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
            }
            .text{
                width: 640px;
                height: 130px;
                margin: 20px;
                h2{
                    font: bold 30px/1 "Montserrat";
                    margin-bottom: 10px;
                }
                p{
                    font: 16px/1 "arial";
                }
            }
            &:nth-of-type(1){
                transition: 1s 0s;
            }
            &:nth-of-type(2){
                transition: 1s 0.2s;
            }
            &:nth-of-type(3){
                justify-content: center;
                .pic{
                    img{
                        border: 1px solid #000;
                    }
                }
                
                
                .text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    h2{
                        font: bold 40px/1 "arial";
                    }
                }
                .pic{
                    width: 640px;
                    height: 270px;
                    #map{
                        width: 640px;
                        height: 270px;
                        border: 1px solid #000;
                        position: relative;
                        span{
                            position: absolute;
                            z-index: 5;
                            top: 0;
                            right: 0;
                            background-color: #000;
                            color: #fff;
                            margin: 5px;
                            
                            
                        }
                    }
                }
                transition: 1s 0.4s;
            }

            &.first{
                margin-left: 0;
                opacity: 1;
            }
        }
    }
    aside{
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        left: -100%;
        opacity: 1;
        z-index: 2;
        display: flex;
        transition: 1s;
        background-color: #333;

        figure{
            display: flex;
            width: 60vw;
            height: 100%;
            align-items: center;
            margin-left: 20px;
            img{
                width: 100%;
                height: 70%;
                object-fit: cover;
            }
        }

        .txt{
            position: relative;
            width: 40%;
            height: 100%;

            h1{
                font: normal 4vw/1 "Rubik";
                color: #ddd;
                text-align: center;
                margin-top: 60px;
                margin-bottom: 50px;
            }
            p{
                font: 1.1vw/1.3 "arial";
                color: #666;
                margin-bottom: 50px;
                margin-left: 30px;
            }
            >span{
                font-size: 24px;
                position: absolute;
                cursor: pointer;
                color: orange;
                bottom: 5vw;
                right: 50px;
            }
        }
        &.on{
            left: 50%;
        }
    }
    .location{
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        left: -100%;
        opacity: 1;
        z-index: 2;
        transition: 1s;
        background-color: #333;
        border-radius: 15px;
        figure{
            width: 60%;
            height: 100%;
            margin-left: 50px;
            #map{
                width: 80%;
                height: 60vh;
            }
        }
        .btns{
            float: left;
            margin-left: 20px;
            position: absolute;
            bottom: 3vh;
            left: 8vw;
            li{
                float: left;
                margin-right: 20px;
                a{
                    display: block;
                    width: 200px;
                    height: 40px;
                    background-color: #fff;
                    font: bold 12px/40px "맑은 고딕";
                    color: #555;
                    text-align: center;
                    border: 1px solid #555;
                    border-radius: 5px;
                    font-size: 14px;
                }
                &.on{
                    a{
                        background-color: #555;
                        color: #fff;
                    }
                }
            }
        }
        .txt1{
            width: 30%;
            height: 50%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            h1{
                width: 100%;
                font-size: 2vw;
                display: flex;
                color: #fff;
                text-align: center;
                flex-wrap: nowrap;
            }
            >.title{
                font: normal 20px/1 "맑은 고딕";
                color: #aaa;
                margin-top: 10px;
                opacity: 0;
                &::before{
                    content: "/";
                    margin: 0 20px 0 10px;
                }
            }
            p{
                color: #ddd;
            }
            >span{
                font-size: 24px;
                position: absolute;
                cursor: pointer;
                color: orange;
                bottom: 5vw;
                right: 50px;
            }
        }
        &.on{
            left: 50%;
        }
    }


    &.atvie{
        .inner{
            h1{
                margin-top: 60px;
                opacity: 1;
            }
        }
    }
}
@media screen and (max-width: 1179px){
    .information{
        nav{
            display: none;
        }
    }
}


@media screen and (max-width: 539px){
    .information{
        width: 100%;
        >.inner{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            h1{
                font-size: 30px;
            }
        
            article{
                width: 90vw;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                .pic{
                    width: 100%;
                    img{
                        width: calc(100% - 40px);
                        height: 100%;
                        object-fit: contain;
                    }
                    
                }
                .text{
                    width: 90%;
                    height: 130px;
                    margin: 20px;
                    h2{
                        font: bold 30px/1 "Montserrat";
                        margin-bottom: 10px;
                    }
                    p{
                        font: 16px/1 "arial";
                    }
                }
                &:nth-of-type(3){
                    .pic{
                        width: 100%;
                        height: 200px;
                        img{
                            border: none;
                        }
                    }

                    .text{
                        height: 70px;
                        justify-content: start;
                        align-items: start;
                        margin-left: 20px;
                        h2{
                            font: bold 30px/1 "Montserrat";
                            text-align: center;
                        }
                    }
                }
            }
        }
        aside{
            display: none;
        }
        .location{
            display: none;
            
        }
    }
}