.information{
    width: 100%;
    position: relative;
    nav{
        display: none;
        width: 150px;
        height: 120px;
        position: fixed;
        left: 23vw;
        top: 22vh;
        border-radius: 15px;
        ul{
            width: 100%;
            height: 100%;
            li{
                width: 100%;
                height: 40px;
                font: 16px/40px "Montserrat";
                color: #999;
                &.on{
                    font-weight: bold;
                    color: #000;
                    font-size: 20px;
                }
            }
        }
    }
    >.inner{
        width: 680px;
        h1{
            margin-top: 90px;
            transition: 1s;
            opacity: 0;
        }
    
        article{
            width: 100%;
            height: 450px;
            box-shadow: 0px 0 16px 3px rgba(0 0 0 / 10%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;
            transition: 1s;
            background-color: #fff;
            margin-left: -150px;
            opacity: 0;
            border-radius: 5px;
            cursor: pointer;
            .pic{
                width: 640px;
                height: 270px;
                margin: 20px 20px 0px 20px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
            }
            .text{
                width: 640px;
                height: 130px;
                margin: 20px;
                h2{
                    font: bold 30px/1 "Montserrat";
                    margin-bottom: 10px;
                }
                p{
                    font: 16px/1 "arial";
                }
            }
            &:nth-of-type(1){
                transition: 1s 0s;
            }
            &:nth-of-type(2){
                transition: 1s 0.2s;
            }
            &:nth-of-type(3){
                justify-content: center;
                .pic{
                    img{
                        border: 1px solid #000;
                    }
                }
                
                
                .text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    h2{
                        font: bold 40px/1 "arial";
                    }
                }
                .pic{
                    width: 640px;
                    height: 270px;
                    #map{
                        width: 640px;
                        height: 270px;
                        border: 1px solid #000;
                        position: relative;
                        span{
                            position: absolute;
                            z-index: 5;
                            top: 0;
                            right: 0;
                            background-color: #000;
                            color: #fff;
                            margin: 5px;
                            
                            
                        }
                    }
                }
                transition: 1s 0.4s;
            }

            &.first{
                margin-left: 0;
                opacity: 1;
            }
        }
    }
    aside{
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        left: -100%;
        opacity: 1;
        z-index: 2;
        display: flex;
        flex-direction: column;
        transition: 1s;
        background-color: #333;

        figure{
            display: flex;
            width: 100%;
            height: 400px;
            padding: 30px;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .txt{
            width: 100%;
            padding: 30px;

            h1{
                font: normal 4vw/1 "Rubik";
                color: #ddd;
                text-align: center;
                margin-top: 60px;
                margin-bottom: 50px;
            }
            p{
                font: 1.5vw/1.3 "arial";
                color: #666;
                text-align: center;
            }
            >span{
                font-size: 24px;
                position: absolute;
                cursor: pointer;
                color: #fff;
                top: 10px;
                right: 20px;
                transform: rotate(45deg);
            }
        }
        &.on{
            left: 50%;
        }
    }
    .location{
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        left: -100%;
        opacity: 1;
        z-index: 2;
        transition: 1s;
        background-color: #333;
        figure{
            width: 100%;
            height: 100%;
            padding: 30px;
            #map{
                width: 100%;
                height: 500px;
            }
        }
        .btns{
            display: flex;
            justify-content: center;
            gap: 20px;
            li{
                width: 100%;
                a{
                    display: block;
                    width: 100%;
                    height: 40px;
                    background-color: #fff;
                    font: bold 12px/40px "맑은 고딕";
                    color: #555;
                    text-align: center;
                    border: 1px solid #555;
                    font-size: 14px;
                }
                &.on{
                    a{
                        background-color: #555;
                        color: #fff;
                    }
                }
            }
        }
        .txt1{
            width: 100%;
            height: 50%;
            padding: 30px;
            position: relative;
            text-align: center;
            h1.office{
                width: 100%;
                font-size: 3vw;
                color: #fff;
                text-align: center;
                flex-wrap: nowrap;
            }
            >.title{
                font: normal 20px/1 "맑은 고딕";
                color: #aaa;
                margin-top: 10px;
                opacity: 0;
                &::before{
                    content: "/";
                    margin: 0 20px 0 10px;
                }
            }
            p{
                color: #ddd;
            }
            .location_close{
                font-size: 24px;
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                color: #fff;
                transform: rotate(45deg);
            }
        }
        &.on{
            left: 50%;
        }
    }


    &.atvie{
        .inner{
            h1{
                margin-top: 60px;
                opacity: 1;
            }
        }
    }
}



@media screen and (max-width: 539px){
    .information{
        width: 100%;
        >.inner{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            h1{
                font-size: 30px;
            }
        
            article{
                width: 90vw;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                .pic{
                    width: 100%;
                    img{
                        width: calc(100% - 40px);
                        height: 100%;
                        object-fit: contain;
                    }
                    
                }
                .text{
                    width: 90%;
                    height: 130px;
                    margin: 20px;
                    h2{
                        font: bold 30px/1 "Montserrat";
                        margin-bottom: 10px;
                    }
                    p{
                        font: 16px/1 "arial";
                    }
                }
                &:nth-of-type(3){
                    .pic{
                        width: 100%;
                        height: 200px;
                        img{
                            border: none;
                        }
                    }

                    .text{
                        height: 70px;
                        justify-content: start;
                        align-items: start;
                        margin-left: 20px;
                        h2{
                            font: bold 30px/1 "Montserrat";
                            text-align: center;
                        }
                    }
                }
            }
        }
        aside{
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
    
            figure{
                display: flex;
                width: 100%;
                // height: 40vh;
                margin-left: 0;
                padding: 0px 20px 20px 20px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
    
            .txt{
                position: relative;
                width: 100%;
                // height: 20vh;
    
                h1{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font: normal 8vw/1 "Rubik";
                }
                p{
                    font: 3.5vw/1.3 "arial";
                    margin-left: 0;
                    padding: 20px;
                    margin-bottom: 0;
                }
                >span{
                    font-size: 20px;
                    top: 10px;
                    right: 10px;
                }
            }
        }
        .location{
            width: 100%;
            height: 60vh;
            figure{
                width: 100%;
                height: 100%;
                padding: 30px;
                #map{
                    width: 100%;
                    height: 100%;
                }
            }

            .txt1{
                h1.office{
                    font-size: 8vw;
                }
                >.title{
                    font: normal 4vw/1 "맑은 고딕";
                }
                p{
                    color: #ddd;
                }
            }
            &.on{
                left: 50%;
            }
        }
    }
}