.content{
    width: 100%;
    padding: 0 0 150px;
    .inner{

        width: 1180px;
        margin: 0 auto;
        min-height: 500px;
        h1{
            font: bold 50px/1 "arial";
            color: #000;
            margin-bottom: 20px;
            margin-top: 80px;
            transition: 0.5s;
            span{
                font: normal 20px/1 "맑은 고딕";
                color: #aaa;
                &::before{
                    content: "/";
                    margin: 0 20px 0 10px;
                }
            }
        }
    }
}